---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing.astro';
import WhoAreWe from '../components/WhoAreWe.astro';
import Partners from '../components/Partners.astro';
import ContactFooter from '../components/ContactFooter.astro';
import EventsSection from '../components/EventsSection';
---

<Layout title="Welcome to SPARCS.">
	<main>
		<Landing/>
		<WhoAreWe/>
		<EventsSection client:load/>
		<Partners/>
		<ContactFooter/>
	</main>
</Layout>