---

import logo from '/logo.png';
import location from '/icons/icon-loc.svg';

---

<footer 
    class='
        flex 
        justify-center 
        items-center 
        min-h-60 
        w-full 
        py-8 
        min-h
        px-8
        md:px-[4.5rem]
        lg:px-[9.5rem] 
        xl:px-[11.75rem] 
        bg-dazzlingBlue-50 
        font-raleway 
        text-white
    '
>
    <div class="h-full flex flex-col justify-between items-center gap-4 md:flex-row">
        <div class="w-2/4">
            <div class="flex">
                <img src={logo} alt="SPARCS UP Min Logo" />
                <div>
                    <p>UP Mindanao</p>
                    <p class="font-arca">SPARCS</p>
                </div>
            </div>
            <div class="flex">
                <img src={location} alt="Location Icon" />
                <p>University of the Philippines Mindanao, Tugbok District, Mintal, Davao City, Philippines 8000</p>
            </div>
            <div>
                2023 UPMin SPARCS
            </div>
        </div>
        <div class="w-1/4">
            <h2 class="font-bold text-2xl mb-2">Socials</h2>
            <div class="flex flex-col gap-2">
                <div class="flex gap-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22.6452 0H1.35484C0.580645 0 0 0.619355 0 1.35484V22.6452C0 23.4194 0.619355 24 1.35484 24H12.8129V14.671H9.71613V11.071H12.8129V8.4C12.8129 5.30323 14.671 3.6 17.4581 3.6C18.3871 3.6 19.3161 3.63871 20.2452 3.75484V6.96774H18.3871C16.9161 6.96774 16.6065 7.66452 16.6065 8.70968V10.9935H20.129L19.6258 14.6323H16.529V23.8452H22.6452C23.4194 23.8452 24 23.2645 24 22.4903V1.35484C23.9613 0.580645 23.3419 0 22.6452 0Z" fill="white"/>
                    </svg>                
                    <a href="https://www.facebook.com/SPARCSUPMin/">/SparcsUPMin</a>
                </div>
                <div class="flex gap-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22.3224 0H1.75001C0.777783 0 0 0.774194 0 1.74194V22.2581C0 23.1871 0.777783 24 1.75001 24H22.2446C23.2169 24 23.9946 23.2258 23.9946 22.2581V1.70323C24.0724 0.774194 23.2946 0 22.3224 0ZM7.11673 20.4H3.57782V8.98065H7.11673V20.4ZM5.32783 7.39355C4.16116 7.39355 3.26669 6.46452 3.26669 5.34194C3.26669 4.21935 4.20005 3.29032 5.32783 3.29032C6.45562 3.29032 7.38896 4.21935 7.38896 5.34194C7.38896 6.46452 6.5334 7.39355 5.32783 7.39355ZM20.5335 20.4H16.9946V14.8645C16.9946 13.5484 16.9557 11.8065 15.1279 11.8065C13.2612 11.8065 12.989 13.2774 12.989 14.7484V20.4H9.45008V8.98065H12.9112V10.5677H12.9501C13.4557 9.63871 14.5835 8.70968 16.3335 8.70968C19.9502 8.70968 20.6113 11.0323 20.6113 14.2065V20.4H20.5335Z" fill="white"/>
                    </svg>                
                    <a href="https://www.linkedin.com/company/sparcsup/">/sparcs_upmin</a>
                </div>
                <div class="flex gap-2">
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.6276 6.26782C9.49376 6.26782 6.91525 8.80667 6.91525 11.9802C6.91525 15.1141 9.45409 17.6926 12.6276 17.6926C15.7615 17.6926 18.3004 15.1538 18.3004 11.9802C18.3004 8.84633 15.7615 6.26782 12.6276 6.26782ZM12.6276 15.9075C10.4855 15.9075 8.70038 14.162 8.70038 11.9802C8.70038 9.83807 10.4458 8.05295 12.6276 8.05295C14.7698 8.05295 16.5153 9.7984 16.5153 11.9802C16.5153 14.1224 14.7698 15.9075 12.6276 15.9075Z" fill="white"/>
                        <path d="M18.5774 3.8877C17.784 3.8877 17.189 4.52241 17.189 5.27613C17.189 6.02984 17.8237 6.66455 18.5774 6.66455C19.3311 6.66455 19.9658 6.02984 19.9658 5.27613C19.9658 4.52241 19.3708 3.8877 18.5774 3.8877Z" fill="white"/>
                        <path d="M18.5381 0H6.71658C3.34468 0 0.647156 2.69752 0.647156 6.06942V17.9306C0.647156 21.2628 3.38434 24 6.71658 24H18.5777C21.91 24 24.6472 21.2628 24.6472 17.9306V6.06942C24.6472 2.69752 21.91 0 18.5381 0ZM22.862 17.8909C22.862 20.2711 20.9579 22.1752 18.5777 22.1752H6.71658C4.33642 22.1752 2.43228 20.2711 2.43228 17.8909V6.06942C2.43228 3.68926 4.37609 1.78512 6.71658 1.78512H18.5381C20.9182 1.78512 22.8224 3.72893 22.8224 6.06942V17.8909H22.862Z" fill="white"/>
                    </svg>                
                    <a href="https://www.instagram.com/sparcsup/">/sparcsup</a>
                </div>
            </div>
        </div>
        <div class="w-1/4">
            <h2 class="font-bold text-2xl mb-2">Contact Us</h2>
            <div class="flex gap-2">
                <svg width="23" height="17" viewBox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.6089 0H2.39109C1.10066 0 0 1.05778 0 2.38V14.62C0 15.9044 1.06271 17 2.39109 17H20.6089C21.8993 17 23 15.9422 23 14.62V2.34222C23 1.05778 21.8993 0 20.6089 0ZM20.6089 1.7C20.6469 1.7 20.6848 1.7 20.7228 1.7L11.5 7.59333L2.27723 1.7C2.31518 1.7 2.35314 1.7 2.39109 1.7H20.6089ZM20.6089 15.2244H2.39109C2.01155 15.2244 1.70792 14.9222 1.70792 14.5444V3.36222L10.5891 9.02889C10.8548 9.21778 11.1584 9.29333 11.462 9.29333C11.7657 9.29333 12.0693 9.21778 12.335 9.02889L21.2162 3.36222V14.5822C21.2921 14.96 20.9884 15.2244 20.6089 15.2244Z" fill="white"/>
                </svg>
                <p>contact@sparcsup.com</p>
            </div>
            <div class="flex gap-2">
                <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5624 21.6809C14.5249 21.6809 10.2124 19.5059 6.23739 15.7559C0.837392 10.5809 -1.45011 4.80589 0.949892 2.25589C1.06239 2.14339 1.21239 2.03089 1.36239 1.95589L4.39989 0.230889C5.18739 -0.219111 6.16239 0.00588924 6.68739 0.755889L8.89989 3.90589C9.16239 4.28089 9.27489 4.73089 9.16239 5.18089C9.08739 5.59339 8.82489 5.96839 8.44989 6.23089L7.13739 7.09339C8.14989 8.55589 10.8874 12.1934 15.2374 14.7809C15.2749 14.8184 15.3124 14.7809 15.3124 14.7809L16.2499 13.5059C16.7749 12.7934 17.7874 12.6059 18.5749 13.0934L21.8749 15.1934C22.6624 15.6809 22.8874 16.6934 22.3999 17.4809L20.5999 20.3684C20.4874 20.5184 20.3749 20.6684 20.2624 20.7809C19.5874 21.3809 18.6499 21.6809 17.5624 21.6809ZM5.26239 1.69339L2.18739 3.41839C0.762392 4.95589 2.52489 9.86839 7.43739 14.5184C12.4249 19.2434 17.5624 20.9309 19.2124 19.5059L21.0124 16.6184L17.7124 14.5184C17.6749 14.5184 17.6374 14.5184 17.6374 14.5184L16.6999 15.7934C16.1749 16.5059 15.1624 16.6934 14.4124 16.2434C9.72489 13.4309 6.79989 9.53089 5.74989 7.99339C5.48739 7.61839 5.41239 7.16839 5.48739 6.75589C5.56239 6.30589 5.82489 5.93089 6.19989 5.70589L7.51239 4.84339L5.33739 1.73089C5.29989 1.73089 5.26239 1.69339 5.26239 1.69339Z" fill="white"/>
                </svg>
                <p>+63 966 461 8065</p>
            </div>
        </div>
    </div>
</footer>