---
import landingPicture from "/landingPic.png";

const backgroundGradient =
  "bg-gradient-to-b from-[#0122BA] from-0% via-[#CAD4FF] via-77% to-[#FFFFFF] to-100%";
---

<section class={`pt-32 md:h-screen h-screen/2 relative flex flex-col items-center justify-start ${backgroundGradient}`}>
  <div class="h-full relative flex flex-col items-center justify-start">
    <h1 class="font-arca md:text-13xl text-8xl text-white font-extrabold">
      SPARCS
    </h1>
    <img
      class="absolute md:top-40 top-16 md:max-w-3xl"
      src={landingPicture}
      alt="SPARCS"
    />
  </div>
</section>
