---
    import landingPicture from '/landingPic.png' 

    const backgroundGradient = "bg-gradient-to-b from-[#0122BA] from-0% via-[#CAD4FF] via-77% to-[#E5EAFF] to-100%"
---

<section class={`h-screen flex flex-col items-center justify-end ${backgroundGradient}`}>
    <h1 class="">SPARCS</h1>
    <img class="" src={landingPicture} alt="">
</section>