---
import { partners } from "../content/partners/partners.astro"
---

<section class="bg-white p-10" id="partners">
  <h1 class="text-center text-[#0122BA] text-4xl md:text-7xl font-arca">
    Official Partners
  </h1>
  <div
    class="w-full grid grid-cols-4 justify-items-center gap-5 py-10"
  >
  {
    partners.map((partner) => (
      <img src={partner.pictureUrl} alt={partner.name} class="w-full max-w-sm" />
    ))
  }
  </div>
</section>
