---

---

<div class='w-[320px] h-[470px] border rounded-2xl bg-[#CAD4FF] font'>
  <div class='w-full h-[320px]'>
    <img src='' alt='' class='rounded-t-2xl' />
  </div>
  <div class='p-5'>
    <h1 class='text-2xl font-bold mb-0.5'>Event Title</h1>
    <p class='text-sm text-gray-500 mb-4'>Date</p>
    <p class='text-lg truncate'>
      Description
    </p>
  </div>
</div>
