---
import RecentEventsCard from "./RecentEventsCard.astro";
import { getEventList } from "../content/eventList/eventList";
import moment from "moment";

const eventList = await getEventList();

eventList
  .sort((a, b) => moment(a.startDate).diff(moment(b.startDate)))
  .reverse();
---

<section
  class="min-h-screen flex flex-col justify-around bg-[#0122BA] px-8 py-12"
>
  <h1 class="text-center text-white text-4xl md:text-7xl font-arca">
    Our Events
  </h1>
  <div
    class="w-full flex flex-row flex-wrap justify-center p-4 md:p-8 gap-8 md:gap-16"
  >
    {eventList.map((event) => <RecentEventsCard event={event} />)}
  </div>
</section>
