---

---

<section class="h-screen flex flex-col justify-around bg-[#0122BA] p-4">
    <h1 class="text-center text-white text-4xl lg:text-7xl font-arca">Recent Events</h1>
    <div class="w-full flex flex-row justify-center">
</section>