---
import RecentEventsCard from "./RecentEventsCard.astro";
import { eventList } from "../content/eventList/eventList.astro";
---

<section class="min-h-screen flex flex-col justify-around bg-[#0122BA] p-8">
  <h1 class="text-center text-white text-4xl lg:text-7xl font-arca">
    Recent Events
  </h1>
  <div
    class="w-full flex flex-row flex-wrap justify-center p-4 lg:p-8 gap-8 lg:gap-16"
  >
    {
      eventList.map((event) => (
        <RecentEventsCard event={event} key={event.id} />
      ))
    }
  </div>
</section>
