---
import missionPicture from "/missionPic.png";
import visionPicture from "/visionPic.png";
import background from "/missionVisionBg.png";
---

<section class="min-h-screen flex flex-col p-8 py-16" id="about">
    <div class="max-w-5xl mx-auto">
        <div class="flex flex-col justify-center text-center">
            <h1
                class="font-arca text-5xl md:text-6xl g:text-7xl text-[#0835FF] drop-shadow-xl"
            >
                Who are we?
            </h1>
            <p
                class="font-normal font-raleway text-base md:text-2xl pt-2 md:pt-8"
            >
                Founded in 2010, the Society of Programmers and Refined Computer Scientists is the official tech community for Computer Science students at the University of the Philippines Mindanao.
            </p>
        </div>
    </div>
    <div
        class="max-w-5xl mx-auto flex flex-col-reverse md:flex-row md:grid md:grid-cols-2 justify-around items-center mt-32"
    >
        <div class="max-w-2xl text-center relative md:text-left mt-12 md:mt-0">
            <h1
                class="font-arca text-4xl md:text-6xl text-[#0835FF]"
            >
                Mission
            </h1>
            <p
                class="font-normal font-raleway text-base md:text-1xl md:text-2xl"
            >
                To empower and educate surrounding communities through computer,
                information and communications technology.
            </p>
        </div>
        <div class="relative">
            <img
                class="absolute -top-24 left-1/2 transform -translate-x-1/2"
                src={missionPicture}
                alt="Mission"
            />
            <img src={background} />
        </div>
    </div>
    <div
        class="max-w-5xl mx-auto flex flex-col md:flex-row md:grid md:grid-cols-2 justify-around items-center mt-32"
    >
        <div class="relative">
            <img
                class="absolute -top-24 md:-top-20 left-1/2 transform -translate-x-1/2"
                src={visionPicture}
                alt="Vision"
            />
            <img src={background} />
        </div>
        <div class="p-2 md:p-6 text-center relative md:text-right mt-12 md:mt-0">
            <h1
                class="font-arca text-4xl md:text-6xl text-[#0835FF]"
            >
                Vision
            </h1>
            <p
                class="font-normal font-raleway text-base md:text-1xl md:text-2xl"
            >
                To be a leading organization in the Philippines which serves as
                an avenue for building skills, expanding connections, and
                opening opportunities throughout the tech industry.
            </p>
        </div>
    </div>
</section>
