---
import NavBar from "../components/NavBar.jsx";
import Favicon from "/logo.ico";
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href={Favicon} />
		<link
			href="https://fonts.googleapis.com/css?family=Raleway"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<NavBar client:load client:only/>
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@font-face {
		font-family: ArcaMajora3;
		src: url("/fonts/ArcaMajora3.otf") format("opentype");
	}

	.blurNav {
		transition: 0.3s all ease-in-out;
		background: #0122ba;
		opacity: 0.8;
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}

	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #ffffff;
		scroll-behavior: smooth;
		scroll-padding: 15rem;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
